<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DkpOverlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DkpOverlay.Properties.Settings>
            <setting name="DkpUrl" serializeAs="String">
                <value>http://www.thatseqbaby.com/ResourceCenter/DKP.php</value>
            </setting>
            <setting name="CookieID" serializeAs="String">
                <value>PHPSESSID</value>
            </setting>
            <setting name="CookieDomain" serializeAs="String">
                <value>http://www.thatseqbaby.com/</value>
            </setting>
            <setting name="LoginUrl" serializeAs="String">
                <value>http://www.thatseqbaby.com/ResourceCenter/Welcome.php</value>
            </setting>
        </DkpOverlay.Properties.Settings>
    </userSettings>
</configuration>